{#{% extends "base.jinja2" %}#}
{#{% block title %}ToDos Add{% endblock %}#}
{#{% block content %}#}
{#    <h1>ToDos - Add</h1>#}
{#{% endblock %}#}
<ul>
    <li>
        <a href="/">
            <code>/Home</code>
        </a>
    </li>
</ul>