<h1>Welcome to {{ site_name }}</h1>
<ul>
    <li>
        <a href="/hello">
            <code>/hello</code>
        </a>
    </li>
    <li>
        <a href="/list">
            <code>/list</code>
        </a>
    </li>
    <li>
        <a href="{{ request.route_url('add') }}">
            <code>/add</code>
        </a>
    </li>
    <li>
        <a href='{{ request.route_url('view', id='12') }}'>
            <code>/view 12</code>
        </a>
    </li>
    <li>
        <a href="{{ request.route_url('edit', id='12') }}">
            <code>/edit 12</code>
        </a>
    </li>
    <li>
        <a href="{{ request.route_url('delete', id='12') }}">
            <code>/Delete 12</code>
        </a>
    </li>

    <li>
        <a href="/world?username=jane">
            <code>/world?name=jane</code>
        </a>
    </li>
</ul>

<form method="get" action="/world">
    <input type="text" id="name" name="username" value="Tonye Jack">
    <button type="submit">Go</button>
</form>