<h1>Welcome to {{ site_name }}</h1>
<ul>
    <li>
        <a href="/hello">
            <code>/hello</code>
        </a>
    </li>
    <li>
        <a href="/world?username=jane">
            <code>/world?name=jane</code>
        </a>
    </li>
</ul>